*{
  padding: 0;
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(37, 33, 25);
  height: 60px;
  
  
}
ul{
  float: left;
  display: flex;
 margin-right: 100px;
  
 
}
ul li{
  list-style: none;
  justify-content: space-between;
  margin-left: 50px;
  font-size: 14px;

}

 ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 2px;
 margin: 1px;
  border-radius: 0.5rem;
 font-size: 20px;

 
 transition: 3s ease;
 }  

.logo{
  color:#ff7200;
margin-left: 50px;
font-size: 45px;
font-family: Arial, Helvetica, sans-serif;
}

  
   



    
  
 
  

 

  
  
  

       








