.menu {
  width: 100%;
  min-height: 70vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuTitle {
  font-size: 50px;
  margin: 40px 0;
  font-family: cursive;
}


.menuList {
  width: 80%;
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.menuItem {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.menuItem:hover {
  transform: scale(1.05);
}
   .menuItem h2{
  margin: 15px 15px 15px;
  font-size: 20px;
}

.menuImage {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.menuItem h2 {
  margin: 10px;
}

.menuItem p {
 
  margin: 10px;
  font-weight: bold;
  margin-right: 70px;
}



 
    

  


